* {
    margin: 0;
    padding: 0;
    font-stretch: extra-condensed;
    font-family: 'poppins', sans-serif;
}

.header h1 {
    font-family: 'poppins', sans-serif;
    text-align: center;
    position: relative;
    padding: 30px;
    height: 100px;
    font-size: 50px;
    color: #2b7245;
}

.container {
    align-items: center;
    padding-top: 40px;
}

.wrapper .outer {
    margin-left: 33%;
    align-items: center;
}

.outer .card {
    position: relative;
    margin: 5px 0;
    border: solid rgb(10, 22, 8);
    background: rgb(113, 185, 65);
    width: 430px;
    padding: 20px;
    opacity: 1;
    border-radius: 100px 20px 20px 100px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transition: all .3s;
}

.card:hover {
    transform: scale(1.2)
}

.card .content {
    display: flex;
    align-items: center;
}

.card .img {
    height: 90px;
    width: 90px;
    left: -5px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card .details {
    margin-left: 40px;
}

.details span {
    font-weight: 600;
    font-size: 23px;
}

.card a {
    font-weight: 18px;
    padding: 7px 18px;
    border-radius: 25px;
    color: rgb(255, 255, 255);
}
}

.card:hover {
    transform: scale(1.2)
}

.card .content {
    display: flex;
    align-items: center;
}

.card .img {
    height: 90px;
    width: 90px;
    left: -5px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card .details {
    margin-left: 40px;
}

.details span {
    font-weight: 600;
    font-size: 23px;
}

.card a {
    font-weight: 18px;
    padding: 7px 18px;
    border-radius: 25px;
    color: rgb(255, 255, 255);
}