:root {
    --Zoom: 95%;
    --noti-lado: 100px:
  }
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-stretch: extra-condensed;
    zoom: var(--Zoom);
  }

header {

    height: 50px;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
  
  }
  
#Casa {
    color: hsl(0, 0%, 100%);
    background: #2b7245;
    animation-iteration-count: 1;
    animation-duration: .3s;
  
  }
  
  #Perfil {
    color: #ffffff;
    background: #2b7245;
    animation-iteration-count: 1;
    animation-duration: 2s;
  }
  
  #Nosotros {
    color: #ffffff;
    background: #2b7245;
    animation-iteration-count: 1;
    animation-duration: 2s;
  }
  
  #Notas {
    color: #ffffff;
    background: #2b7245;
    animation-iteration-count: 1;
    animation-duration: 2s;
  }
  
  
  
  .inner-width {
  
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
  }
  
  
  
  header.logo {
  
    position: relative;
    size: 2em;
    text-transform: uppercase;
  }
  
  .logo img {
    float: left;
    height: 60px;
  }

.a{
  object-fit: fill;

  height:50px;
  width: 50px;
  cursor:pointer;
}

  .navigation-menu img{
   
  object-fit: cover;
  border-radius: 20px;

  }
  
  .navigation-menu {
    float: right;
    display: flex;
    align-items: center;
    min-height: 60px;
  
  }
  
  
  .navigation-menu a {
    margin-left: 10px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 10px;
    padding: 7px 14px;
    transition: 250ms;
    
  
  }
  
  
  
  
  
  .navigation-menu a:hover {
    background: #98ffb2;
    color: #2f3640;
    transform: scale(1.1);
  }
  
  .navigation-menu i {
    margin-right: 8px;
    font-size: 16px;
  }
  
  
  .menu-toggle-btn {
    float: right;
    height: 90px;
    line-height: 90px !important;
    color: rgb(0, 0, 0);
    font-size: 26px;
    display: none !important;
    cursor: pointer;
  }
  
  .custom {
    position: fixed;
  
  }
  
  @media screen and (max-width:1240px){
    .Reciente{
      display:none
    }
  }
  
  
  @media screen and (max-width:700px) {
    .menu-toggle-btn {
      display: block !important;
    }
  
    .Publicaciones {
      display: none;
      position: absolute;
      
    }
    .imagenPublic{
      display: none;
    }
  
    .navigation-menu {
      position: fixed;
      width: 60%;
      max-width: 400px;
      background: #2b7245;
      top: 90px;
      right: 0;
      display: none;
      padding: 20px 10px;
      box-sizing: border-box;
    }
  
    .navigation-menu::before {
      content: "";
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #3C7A15;
  
    }
  
    .navigation-menu a {
      display: block;
      margin: 10px 0;
    }
  
    .navigation-menu.active {
      display: block;
    }
  
    #Casa {
      color: #1EFD57;
      background-color: #1f572d;
    }
  
    #Perfil {
      color: #1EFD57;
      background-color: #1f572d;
    }
  
    #Nosotros {
      color: #1EFD57;
      background-color: #1f572d;
    }
  
    #Notas {
      color: #1EFD57;
      background-color: #1f572d;
    }
  
    #Casa::after {
  
      content: "Inicio";
      font-family: "Open Sans", sans-serif;
      color: #1EFD57;
    }
  
    #Perfil::after {
  
      content: "Perfil";
      font-family: "Open Sans", sans-serif;
      color: #1EFD57;
    }
  
    #Notas::after {
  
      content: "Noticias";
      font-family: "Open Sans", sans-serif;
      color: #1EFD57;
    }
  
    #Nosotros::after {
  
      content: "Nosotros";
      position: absolute;
  
      font-family: "Open Sans", sans-serif;
      color: #1EFD57;
    }
  
  
  
  
  }