* {
    margin: 0;
    padding: 0;
    font-stretch: extra-condensed;
    font-family: 'poppins', sans-serif;
}

.container {
    background-size: 10rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 300px;
}

.header {
    text-align: center;
    position: relative;
    padding: 30px;
    height: 100px;
    font-size: 35px;
    color: #2b7245;
}

.card_nombre {
    text-align: center;
    font-size: 20px;
    color: #16301f;
}

.card {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.card_perfil {
    background: rgba(196, 220, 76);
    width: 310px;
    padding: 20px;
    box-shadow: 2px;
    box-shadow: 2px 2px 5px rgb(201, 201, 201);
    border-radius: 10px;
    transition: all .3s;
}

.contenido .card_perfil {
    width: 400px;
    padding: 20px;
}

.card_nombre img {
    position: relative;
    width: 65%;
    height: 230px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgb(10, 10, 10);
    transition: all .3s;
}

.container .card_perfil:hover {
    transform: scale(1.2);
    border: solid cornflowerblue;
}

.card_perfil:hover img {
    transform: rotate(0);
}

.card_perfil .card_descripcion {
    padding: 50px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
}

.card_nombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

hr {
    width: 100%;
    height: 4px;
    background: seagreen;
}