:root {
  --Comentarios-Top: 30px;
  --Comentarios-left: 20px;
}

.ConjuntoImg2 {
  margin-left: 115px;
}

.ConjuntoImg2 .imagenPublic2 img {
  object-fit: cover;
  border-radius: 20px;
  width: 300px;
  height: 300px;
}

.imagenPublic2 img:hover {
  object-fit: cover;
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
  transition: 0.6s;
}

.Publicaciones2 .Casilla2 span {
  color: #2b7245;
}

.CasillaTitulo {
  text-align: justify;
  padding: 2%;
  font-size: 60px;
  color: #183a2f;
  font-family: Impact;
}

.CasillaFecha {
  font-size: 13px;
  float: center;
  padding: 1%;
}

.Casilla2 {
  margin-top: 2em;
}

.Publicaciones2 {
  margin-left: 100px;
  background: rgba(196, 220, 76, 0.712);
  width: 70%;
  margin-top: 20px;
  border-radius: 20px;
}

#Etiquetas {
  background: rgb(195, 125, 92);
  border-radius: 20px;
  margin-top: 14em;
  float: right;
  padding: 10px;
}

.large-3 {
  font-size: 20px;
  font-family: sans-serif;
  font-size: 20px;
  text-align: justify;
  width: 96%;
  margin-left: 20px;
}

.bx {
  cursor: pointer;
}

#Hola {
  font-size: 700px;
}

.Reciente h3 {
  text-align: center;
  margin-top: 40px;
}

.Noticia3:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: .3s;
  font-weight: 900;
}

.Noticia2:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: .3s;
  font-weight: 900;
}

.Noticia1:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: .3s;
  font-weight: 900;
}

.Noticia1 {
  transition: .3s;
  position: absolute;
  background-color: #c1e686;
  border-radius: 10px;
  left: 30px;
  top: 130px;
  font-size: 20px;
  width: 300px;
  height: 150px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 8px;
  text-align: justify;
}

.Noticia2 {
  transition: .3s;
  position: absolute;
  background-color: #c1e686;
  border-radius: 10px;
  left: 30px;
  top: 300px;
  font-size: 20px;
  width: 300px;
  height: 150px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 8px;
  text-align: justify;
}

.Noticia3 {
  transition: .3s;
  position: absolute;
  background-color: #c1e686;
  border-radius: 10px;
  left: 30px;
  top: 480px;
  font-size: 20px;
  width: 300px;
  height: 150px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 20px;
  text-align: justify;
}

.Reciente {
  position: absolute;
  left: 79%;
  top: 80px;
  width: 320px;
  height: 650px;
  background-color: rgb(108, 173, 104);
}

.Comentarios {
  background-color: rgba(79, 163, 53, 0.651);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60%;
  border-radius: 20px;
  margin-left: 200px;
  margin-top: 20px;
}

.Comentarios h6 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-top: -80px;
  margin-left: 90px;
  background-color: #d2da70e3;
  color: #0e362c;
  border-radius: 30px;
  width: 50%;
  padding: 10px;
}

.imagenComentarios img {
  position: static;
  width: 100px;
  padding: 10px;
  height: 100px;
  border-radius: 20px;
}

.Contenido {
  margin-left: 90px;
  font-size: 20px;
  text-align: justify;
  width: 96%;
}

.Comentarios p {
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 100px;
  padding: 10px;
}

.btn {
  margin-left: 70%;
}

.btn-noticia {
  background-color: rgba(25, 63, 61, 0.705);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn-noticia:hover {
  background-color: rgba(14, 36, 35, 0.911);
}

.btn_responder {
  display: flex;
  align-items: flex-start;
  background-color: rgba(25, 63, 61, 0.808);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn_responder span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn_responder span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn_responder:hover span {
  padding-right: 25px;
}

.btn_responder:hover span:after {
  opacity: 1;
  right: 0;
}

.Escribir input {
  margin-left: 220px;
  width: 60%;
  margin-bottom: 30px;
}

.Escribir2 {
  position: absolute;
  margin-left: 70%;
}

.Comentarios2 {
  background-color: rgba(79, 163, 53, 0.575);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60%;
  border-radius: 20px;
  margin-left: 300px;
}

.Comentarios2 h6 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-top: -80px;
  margin-left: 90px;
  background-color: #d2da70e3;
  color: #0e362c;
  border-radius: 30px;
  width: 50%;
  padding: 10px;
}

.Comentarios2 p {
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 100px;
  padding: 10px;
}

.large-4 span {
  font-weight: 700;
  background-color: rgb(108, 173, 104);
  border-radius: 10px;
  padding: 5px;
}